{
    "groupId": "6285805609094-1635319627@​g.us", 
    "lolhuman": "apikey [https://api.lolhuman.xyz/]",
    "botname": "Allen Bot", 
    "timezone": "Asia/Jakarta",
    "footer": "AllenBot • Paiiss",
    "link_group": "https://chat.whatsapp.com/CktCFlTbTiMLq5K4fgIidd"
}
