{
    "groupId": "6285805609094-1635319627@​g.us", // Group id for error log
    "lolhuman": "apikey [http://api.lolhuman.xyz/]", // This bot uses some API from lolhuman
    "botname": "Allen Bot", // Bot Name
    "timezone": "Asia/Jakarta", // Time for node-cron
    "footer": "AllenBot • Paiiss"  // Footer for message button
}
